.MuiButton-root {
    min-width: 50px;
}

.editor {
    box-sizing: border-box;
    border-top: 1px solid #06060647;
    border-radius: 4px;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    /* box-shadow: inset 0px 1px 8px -3px #ABABAB; */
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 200px;
}

.editor-container {
    border-radius: 4px;
    border: 1px solid #06060647;
}

.editor>ul {
    list-style: circle;
    padding: 10px;
}

.editor>ol {
    list-style: decimal;
    padding: 10px;
}

.editor>blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
}