@import-normalize ;

@import 'tailwind-base.css';

html {
    font-size: 62.5%;
    font-family: Muli, Roboto, Helvetica Neue, Arial, sans-serif;
    background-color: #121212;
}

body {
    font-size: 14px;
    line-height: 1.4;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}

h1, .h1 {
    font-size: 24px;
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 16px;
}

h4, .h4 {
    font-size: 15px;
}

h5, .h5 {
    font-size: 13px;
}

h6, .h6 {
    font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
    z-index: 99;
}

a[role=button] {
    text-decoration: none;
}

[role="tooltip"] {
    z-index: 999;
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar:hover {
        width: 12px;
        height: 12px;
        background-color: rgba(0, 0, 0, 0.06);
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:active {
        box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
        border-radius: 20px;
    }
}

form label {
    z-index: 99;
}

@import 'print.css';

@import 'tables.css';

@import 'react-table.css';

@import 'prism.css';

@import 'tailwind.css';

.new {
    position: absolute;
    right: 15px;
    top: 40px;
    z-index: 99;
}
/* .MuiToolbar-root {
    background-color: #e5e5e5;
} */
.MuiToolbar-root h6 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
    font-weight: 600;
    line-height: 1.6;
}
.MuiTableSortLabel-root {
    color: rgba(0, 0, 0, 0.4);
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
    background-color: #fff;
    padding: 0 5px;
}
.MuiOutlinedInput-input {
    padding: 15px 14px;
}
.MuiInputLabel-outlined {
    transform: translate(14px, 17px) scale(1);
}
.MuiCardContent-root:last-child {
    padding-bottom: 0;
}
.MuiChip.green {
    background-color: green;
}
.MuiChip.orange {
    background-color: #e1930c;
}
.MuiTab-textColorPrimary.Mui-selected {
    color: #000;
}
.makeStyles-toolbar-417 {
    height: 72px;
    min-height: 72px;
}
.MuiTab-labelIcon {
    min-height: auto;
}
.ReactTable {
    background-color: #fff;
}
.ReactTable .rt-thead.-filters {
    background-color: rgba(255,255,255,0.04);
}
.ReactTable .rt-thead.-filters select {
    height: 100%;
    width: 100%;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.1);
    box-sizing: unset;
}
.ReactTable .-cursor-pointer:after, 
.ReactTable .-cursor-pointer:after {
    position: absolute;
    right: 10px;
    top: 16px;
	content: ' ';
	display: inline-block;
	height: 15px;
    width: 15px;
    background-image: url(/assets/images/icons/sort2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.ReactTable .rt-thead .rt-th.-sort-asc:after, 
.ReactTable .rt-thead .rt-td.-sort-asc:after {
    background-image: url(/assets/images/icons/sort_down.png);
}
.ReactTable .rt-thead .rt-th.-sort-desc:after, 
.ReactTable .rt-thead .rt-td.-sort-desc:after {
    background-image: url(/assets/images/icons/sort_up.png);
}
.ReactTable.white .-cursor-pointer:after {
    background-image: url(/assets/images/icons/sort3.png);
}
.ReactTable.white .rt-thead .rt-th.-sort-asc:after, 
.ReactTable.white .rt-thead .rt-td.-sort-asc:after {
    background-image: url(/assets/images/icons/sort3_down.png);
}
.ReactTable.white .rt-thead .rt-th.-sort-desc:after, 
.ReactTable.white .rt-thead .rt-td.-sort-desc:after {
    background-image: url(/assets/images/icons/sort3_up.png);
}

.ReactTable.no-icon .-cursor-pointer:after,
.ReactTable .-cursor-pointer:last-child:after {
    background-image: none;
}
.ReactTable .rt-thead .rt-th > div {
    justify-content: left;
    display: flex;
    height: 100%;
    align-items: center;
}
.ReactTable .rt-thead.-filters .rt-th,
.ReactTable .rt-th, 
.ReactTable .rt-td,
.ReactTable .rt-thead .rt-th, 
.ReactTable .rt-thead .rt-td {
    padding: 6px 16px;
}
.ReactTable .rt-td:last-child .MuiIconButton-root:first-child{
    margin-left: -16px;
}

.ReactTable.last-column-padding .rt-td:last-child {
    padding-left: 16px !important;
}
.ReactTable .rt-thead.-filters input, 
.ReactTable .rt-thead.-filters select {
    font-size: 13px;
    color: #000;
}
.ReactTable .rt-thead.-filters button {
    padding-right: 0;
}
.ReactTable .rt-thead.-filters .MuiIconButton-root:hover {
    background-color: transparent !important;
}
.ReactTable .rt-thead.-filters .rt-th {
    background-color: #f2f2f2;
}

.ReactTable.no-icon .rt-thead .rt-resizable-header-content {
    justify-content: left;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8)
}
.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
    background-color: #e5e5e5;
}
.ReactTable.white .rt-thead .rt-th, 
.ReactTable.white .rt-thead .rt-td {
    background-color: #fff;
}
.login-page {
    background-image: url(/assets/images/backgrounds/login-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.content {
    background-image: url(/assets/images/backgrounds/login-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.content:after {
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index:1;
    content: "";
}
.title {
    background:none;
}
.title .Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    background-color: rgba(0, 0, 0, 0.26) !important;
}
.MuiOutlinedInput-adornedStart input {
    padding-left : 0;
}
.MuiInputAdornment-positionStart {
    margin-right: 0;
}
.MuiToolbar-regular {
    color: rgba(0, 0, 0, 0.87);
    background-color: #e5e5e5;
}
.dropZone {
    min-height:190px;
}
.dropZone p {
    padding-top:40px
}
.dropZoneBox .MuiGrid-spacing-xs-8 {
    width: 100%;
    margin: 0;
}
.dropZoneBox .MuiGrid-grid-xs-4 {
    max-width: 100%;
    flex-basis: 100%;
}
.dropZoneBox .MuiGrid-spacing-xs-8 > .MuiGrid-item img{
    margin: 0 auto;
}
.dropZoneBox .MuiGrid-container > span {
    display: none;
}
.MuiTableCell-paddingCheckbox:last-child span{
    display:none;
}
.no-pad-left {
    padding-left: 0 !important;
}